<div class="sidebar">
  <h1 class="w3-sidebar w3-light-grey w3-bar-block">Home</h1>
  <div id="lists" class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
    
    <a class="w3-bar-item w3-button" routerLink="/moviecollections">Movie Collections</a>
    <a class="w3-bar-item w3-button" routerLink="/genres">Genres</a>
    <a class="w3-bar-item w3-button" routerLink="/countries">Countries</a>
    <a class="w3-bar-item w3-button" routerLink="/years">Years</a>
    <a class="w3-bar-item w3-button" routerLink="/tvseriescollections">TV Series Collections</a>
    <a class="w3-bar-item w3-button" routerLink="/tvchannelcollections">TV Channel Collections</a>
    <a class="w3-bar-item w3-button" routerLink="/actors">Actors</a>
  </div>
</div>

