<ng-container  *ngIf="!logged">
  <div class="main">
    <form class="login" >
      <p class="sign">Log In</p>

      <input class="un" type="text" id="username" [(ngModel)]="username" name="username" align="center" placeholder="Username">

      <input class="pass" type="password" id="password" [(ngModel)]="password" name="password" align="center" placeholder="Password">

    <button class="submit" (click)="login()" align="center">Login</button>

    </form>
    <p class="signup">Did not sign up?</p>
    <form class="sign-up">
      <p class="sign">Sign Up</p>
      <input class="un" type="email" name="email" [(ngModel)]="email" align="center" placeholder="Email" required>
      <input class="un" type="text" name="username" [(ngModel)]="username" align="center" placeholder="Username" required>
      <input class="pass" type="password" name="password" [(ngModel)]="password" align="center" placeholder="Password" required>
      <button class="submit" type="submit">Sign Up</button>

    </form>

  </div>
  </ng-container>
  <!-- <h3>Login form</h3>
  <fieldset>
    <label for="username">Username: </label>
    <input type="text" id="username" [(ngModel)]="username">
  </fieldset>
  <fieldset>
    <label for="password">Password: </label>
    <input type="password" id="password" [(ngModel)]="password">
  </fieldset>
  <button (click)="login()">Login</button>
  <form (ngSubmit)="signup()">
    <input type="email" name="email" [(ngModel)]="email" placeholder="Email" required>
    <input type="text" name="username" [(ngModel)]="username" placeholder="Username" required>
    <input type="password" name="password" [(ngModel)]="password" placeholder="Password" required>
    <button type="submit">Sign Up</button>
  </form>
</ng-container> -->

<ng-container *ngIf="logged">
  <br>
  <br>
  <h2>You are Logged in.</h2>
  <button (click)="logout()">Logout</button>
</ng-container>


<!-- <ng-container *ngIf="router.url === '/auth/login'">
  <div class="main">
    <form class="form1">
      <p class="sign">Log In</p>

      <input class="un" type="text" id="username" [(ngModel)]="username" align="center" placeholder="Username">

      <input class="pass" type="password" id="password" [(ngModel)]="password" align="center" placeholder="Password">

    <button class="submit" (click)="login()" align="center">Login</button>

    </form>
  </div>


</ng-container>

<ng-container *ngIf="router.url === '/auth/signup'">
  <div class="main">
    <form id="signup" (ngSubmit)="signup()">
      <p class="sign">Sign Up</p>
      <input class="un" type="email" name="email" [(ngModel)]="email" align="center" placeholder="Email" required>
      <input class="un" type="text" name="username" [(ngModel)]="username" align="center" placeholder="Username" required>
      <input class="pass" type="password" name="password" [(ngModel)]="password" align="center" placeholder="Password" required>
      <button class="submit" type="submit">Sign Up</button>
    </form>
  </div>

</ng-container>


<ng-container *ngIf="getLogged()" routerLink="/">
  <h2>You are Logged in.</h2>
  <button (click)="logout()">Log Out</button>
</ng-container> -->
